<!DOCTYPE html>
<html>
<head>
  <title>Votestoseats</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!--
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  -->

  <!-- -->
  <script src="//use.typekit.net/uga5jzo.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>


</head>
<body>

<%= yield %>

</body>
</html>
